.PreNav{
 background-color: rgb(9, 2, 2);
 display: grid;
 grid-template-columns: 5fr 2fr;
 color:white;

}
.PreNav > div{
    padding: 0.5 4vmax;
    display: flex;
    align-items: center;
 }

 .PreNav > div >span{
    color: rgba(180, 180, 180, 0.644);
    font-size: 0.8vmax;
    font-weight: 100;
}

.PreNav > div > a {

    color: rgb(180, 180, 180);
    font-size: 0.9vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
} 

.PreNav > div > a:hover{
    color: white;
}
.PreNav > div svg{
    fill: rgb(188, 179, 179);
  
}
.PreNav > div svg:hover{

    fill: white;
}

 